<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--add name="TaskEntities" connectionString="metadata=res://*/csdl|res://*/ssdl|res://*/msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" /-->
    <add name="LeaveTypeEntities" connectionString="metadata=res://*/LeaveTypeModel.csdl|res://*/LeaveTypeModel.ssdl|res://*/LeaveTypeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WeekDayEntities" connectionString="metadata=res://*/WeekDayModel.csdl|res://*/WeekDayModel.ssdl|res://*/WeekDayModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="SupervisorEntities" connectionString="metadata=res://*/SupervisorModel.csdl|res://*/SupervisorModel.ssdl|res://*/SupervisorModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="JobTitleEntities" connectionString="metadata=res://*/JobTitleModel.csdl|res://*/JobTitleModel.ssdl|res://*/JobTitleModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LeaveAllocationEntities" connectionString="metadata=res://*/LeaveAllocationModel.csdl|res://*/LeaveAllocationModel.ssdl|res://*/LeaveAllocationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ComplainsEntities" connectionString="metadata=res://*/ComplainsModel.csdl|res://*/ComplainsModel.ssdl|res://*/ComplainsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ComplainTypeEntities" connectionString="metadata=res://*/ComplainTypeModel.csdl|res://*/ComplainTypeModel.ssdl|res://*/ComplainTypeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ContactDetailsEntities" connectionString="metadata=res://*/ContactDetailsModel.csdl|res://*/ContactDetailsModel.ssdl|res://*/ContactDetailsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DeductionsEntities" connectionString="metadata=res://*/DeductionsModel.csdl|res://*/DeductionsModel.ssdl|res://*/DeductionsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DeductionStructureEntities" connectionString="metadata=res://*/DeductionStructureModel.csdl|res://*/DeductionStructureModel.ssdl|res://*/DeductionStructureModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="DocumentsEntities" connectionString="metadata=res://*/DocumentsModel.csdl|res://*/DocumentsModel.ssdl|res://*/DocumentsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmergencyContactEntities" connectionString="metadata=res://*/EmergencyContactModel.csdl|res://*/EmergencyContactModel.ssdl|res://*/EmergencyContactModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmployeeEntities" connectionString="metadata=res://*/EmployeeModel.csdl|res://*/EmployeeModel.ssdl|res://*/EmployeeModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LoginDetailsEntities" connectionString="metadata=res://*/LoginDetailsModel.csdl|res://*/LoginDetailsModel.ssdl|res://*/LoginDetailsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PersonalDetailsEntities" connectionString="metadata=res://*/PersonalDetailsModel.csdl|res://*/PersonalDetailsModel.ssdl|res://*/PersonalDetailsModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ReviewEntities" connectionString="metadata=res://*/ReviewModel.csdl|res://*/ReviewModel.ssdl|res://*/ReviewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="GeneratedReviewEntities" connectionString="metadata=res://*/GeneratedReviewModel.csdl|res://*/GeneratedReviewModel.ssdl|res://*/GeneratedReviewModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProjectEntities" connectionString="metadata=res://*/ProjectModel.csdl|res://*/ProjectModel.ssdl|res://*/ProjectModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="PerformanceParameterEntities" connectionString="metadata=res://*/PerformanceParameterModel.csdl|res://*/PerformanceParameterModel.ssdl|res://*/PerformanceParameterModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TaskEmployeesEntities" connectionString="metadata=res://*/TaskEmployeesModel.csdl|res://*/TaskEmployeesModel.ssdl|res://*/TaskEmployeesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="ProjectEmployeesEntities" connectionString="metadata=res://*/ProjectEmployeesModel.csdl|res://*/ProjectEmployeesModel.ssdl|res://*/ProjectEmployeesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="TaskEntities" connectionString="metadata=res://*/TaskModel.csdl|res://*/TaskModel.ssdl|res://*/TaskModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EmployeeLeaveEntities" connectionString="metadata=res://*/EmployeeLeaveModel.csdl|res://*/EmployeeLeaveModel.ssdl|res://*/EmployeeLeaveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="LeaveEntities" connectionString="metadata=res://*/LeaveModel.csdl|res://*/LeaveModel.ssdl|res://*/LeaveModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="HolidayEntities" connectionString="metadata=res://*/HolidayModel.csdl|res://*/HolidayModel.ssdl|res://*/HolidayModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AttendanceEntities" connectionString="metadata=res://*/AttendanceModel.csdl|res://*/AttendanceModel.ssdl|res://*/AttendanceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="EducationEntities" connectionString="metadata=res://*/EducationModel.csdl|res://*/EducationModel.ssdl|res://*/EducationModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="WorkExperienceEntities" connectionString="metadata=res://*/WorkExperienceModel.csdl|res://*/WorkExperienceModel.ssdl|res://*/WorkExperienceModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AllowancesEntities" connectionString="metadata=res://*/AllowancesModel.csdl|res://*/AllowancesModel.ssdl|res://*/AllowancesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="AllocatedAllowancesEntities" connectionString="metadata=res://*/AllocatedAllowancesModel.csdl|res://*/AllocatedAllowancesModel.ssdl|res://*/AllocatedAllowancesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=43.255.152.26;initial catalog=navkar_student;persist security info=True;user id=navkar_student;password=789-student;multipleactiveresultsets=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>